{%extends 'myapp/base.html'%}
{%load static%}
{%block title%}
Profile
{%endblock%}
{%block maincontent%}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                {%if active_profile%}
                <li class="d-grid"><a href="{%url 'profile'%}" class="btn btn-primary">Profile</a></li>
                {%else%}
                <li class="d-grid"><a href="{%url 'profile'%}" class="btn">Profile</a></li>
                {%endif%}
                {%if active_adress%}
                <li class="d-grid"><a href="{%url 'adress'%}" class="btn btn-primary">Adress</a></li>
                {%else%}
                <li class="d-grid"><a href="{%url 'adress'%}" class="btn">Aderess</a></li>
                {%endif%}
            </ul>
        </div>
        <div class="col-sm-8 offset-sm-1">
            <div class="row">
                
                <div class="col-sm-6">
                    <div class="card m-2">
                        <div class="card-body">
                            <h3>{{info.name}}</h3>
                            <p>Adress: {{info.adress}}</p>
                            <p>Mobile: {{info.mobile}}</p>
                            <p class="text-center"><a class="btn btn-warning" href="{%url 'profile'%}">Update</a></p>
                        </div>
                    </div>
                </div>
                <h3 class="text-danger">{{messages_info}}</h3>
            </div>
        </div>
    </div>
</div>
{%endblock%}