{%extends 'myapp/base.html'%}
{%load static%}
{%block maincontent%}
{%if data%}
<script>
    function calculateTotal() {
      var total = 0;
      var items = document.querySelectorAll('.item');
    
      for (var i = 0; i < items.length; i++) {
        var item = items[i];
        var price = parseFloat(item.querySelector('.price').textContent);
        var quantity = parseInt(item.querySelector('#quantity').textContent);
        var subtotal = price * quantity;
        total += subtotal;
      }
    
      // Hiển thị tổng tiền
      document.getElementById('total').textContent = total.toFixed(2);
    }
    </script>
<div class="container m-5">
<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="cart-body">
                <h3>Giỏ hàng</h3>
               <hr>
                {%for item in data%}
                    <div class="row">
                        <div class="col-sm-3 text-center align-self-center"><img src="{{item.product_img}}" alt="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"></div>
                        <div class="col-sm-9">
                            <div class = "item">
                                <h5>{{item.product_title}}</h5>
                                <div class="my-3">
                                    <label for="quantity">Số lượng: </label>
                                    <span id = "quantity">{{item.quantity}}</span>
                                    <p class="card-price">Giá: <span class="price">{{item.product_price}}</span>₫</p>
                                </div>
                            
                                <div class="d-flex justify-content-between">
                                    <a href="{%url 'DeleteProductCart' product_id=item.product%}" class="remove-cart btn btn-sm btn-secondary mr-3">Xóa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3>Thông tin thanh toán</h3>
                <ul class="list-group">
                    <li class="list-group-item justify-content-between border-0 px-0 pb-0">Số tiền: <span class = "price" id = "total"></span>₫</li>
                </ul>
            </div>
        </div>
    </div>
</div>

</div>
{%endif%}
<script>
    calculateTotal();
    </script>
{%endblock%}